/* Your app styles here */
/*menu*/
.top_nav{
	background-color: #151414 !important;
}
.view>.menubackground{
	background-color: #878787 !important;
}
.page img{
  width: 100%;
  height: auto;
}
.page-content >.block>.block-title{
 text-transform: uppercase;
 font-size: 10px;
}
.item-inner>.menu_item{
  text-transform: uppercase;	
  font-size: 13px;
}
.item-inner>.menu_item,.single-item>.item-inner>.menu_item{
  color:rgb(255, 255, 255);
}
/*sub menu*/
.item-inner>.submenu_item,
.accordion-item-content>.particular_item>a>p{
  font-size: 13px;
  text-transform: capitalize;
  color:rgb(255, 255, 255);
}
/*sign in sign up*/
.sign_in_up{
  margin-left: 13px !important;
}
.sign_in_up>p>a{
 color:rgb(255, 255, 255);
}
/*block-title new_arrivals*/
.new_arrivals{
	text-align: center;
	font-family: Cormorant;
	font-size: 20px;
	color:#151414 !important;
	line-height: 0;
}
.subtitle{
    font-size: 16px;
    font-family: "Open Sans",sans-serif !important;
    color: #878787 !important;
    line-height: 1;
    text-align: center;
}
/*category page*/
.second_nav{
  background-color: #f7f7f7 !important;
}
.second_nav .block{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: #151414;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Open Sans",sans-serif !important;
}
.category_card{
  margin:0px !important;
  border-radius: 0px;
}
.category_card > .card-footer{
  position: static;
  display:block;
  text-transform: capitalize;
}
.category_card >.card-footer>.name_container{
  display: flex;
}
.name_container> h3{
  margin: 0px;
  font-size:13px;
  font-family: "Open Sans",sans-serif !important;
  color:#151414;
  width: 85%;
}
.price-container span{
  font-family: "Open Sans",sans-serif !important;
}
.price-container .price{
  font-weight: bold;
  margin-right:5px;
  color:#151414;
  font-size:12px;
}
.price-container strike{
  margin-right: 5px;
  font-size: 11px;
}
.price-container .discount{
  font-size: 11px;
  color: red;
}
.name_container >a> .wishlist_icon {
  color: #151414 !important;
  display: inline-block;
  position: absolute;
  bottom: 43px;
  right: 4px;
  top: 1px;
  font-size: 18px;
}
.md .card-footer a.link, .md .card-header a.link{
  height: auto;
}
.sort_filter_icons .f7-demo-icon-cell{
  display: flex;
}
.sort_filter_icons >.tab-link.tab-link-active{
  padding-top: 18px !important;
}
.sort_filter_icons .f7-icons{
  font-size: 21px;
}
.sort_filter_icons .f7-demo-icon-label{
  margin-left: 10px;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
}
.footer{
  background: #151414 !important;
}
/*product page*/
.second_nav .product_block{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: #151414;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Open Sans",sans-serif !important;
  display:flex;
}
.second_nav .product_block >p:nth-of-type(2){
  margin-top: 0px;
}
.product_image .view_similar{
    height: 26px;
    border-radius: 16px;
    background-color: white;
    bottom: 36px;
    /* margin-left: 16px; */
    position: absolute;
    vertical-align: bottom;
    text-align: center;
    /* padding: 1px 0px 0px 0px; */
    z-index: 10;
    opacity: 0.9;
    border: solid 1px #eaeaec;
}